<ion-view title="Contato" id="page3" style="background-color:#45AEBE;">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Text</span><textarea placeholder=""> </textarea>
            </label>
        </form>
        <button id="contato-button20" class="button button-positive  button-block">Tap me!</button>
        <h3 id="contato-heading4" style="color:#FFFFFF;text-align:center;">Centro Paula Souza</h3>
        <div class="button-bar">
            <button id="contato-button14" class="button button-stable  button-block icon ion-social-facebook"></button>
            <button id="contato-button15" class="button button-stable  button-block icon ion-email"></button>
        </div>
        <h4 id="contato-heading5" style="color:#FFFFFF;text-align:center;">ETEC Doutora Ruth Cardoso</h4>
        <div class="button-bar">
            <button id="contato-button17" class="button button-stable  button-block icon ion-social-facebook"></button>
            <button id="contato-button18" class="button button-stable  button-block icon ion-email"></button>
        </div>
    </ion-content>
</ion-view>