<ion-view title="Início" id="page1" style="background-color:#45AEBE;">
    <ion-content padding="true" class="has-header">
        <h2 id="inCio-heading3" style="color:#FDFCFC;font-weight:600;text-align:center;">Centro Paula Souza</h2>
        <div>
            <img src="img/bpD3slReQPWQZvpuLZwQ_etecdrc.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div id="inCio-markdown8" style="color:#FFFFFF;">
            <p>
                <strong>ETEC Doutora Ruth Cardoso</strong>- Disponíbiliza curso aos sábados;</p>
        </div>
        <div id="inCio-markdown7" style="color:#FFFFFF;"></div>
        <div id="inCio-markdown5" style="color:#FFFFFF;">
            <p>
                <strong>Plataforma híbrida</strong>- Curso realizado pelos professores: André Seoane e Eric.</p>
        </div>
        <a ui-sref="menu.produtoServiO" id="inCio-button7" style="font-weight:lighter;color:#050505;border-radius:10px 10px 10px 10px;" class="button button-stable button-large button-block">Produtos/Serviços</a>
        <a ui-sref="menu.contato" id="inCio-button6" style="font-weight:lighter;color:#050505;border-radius:10px 10px 10px 10px;" class="button button-stable button-large button-block">Contato</a>
        <div class="button-bar"></div>
    </ion-content>
</ion-view>